# 평균점수 구하기

In [11]:
# 국어 = 80 / 영어 = 75 / 수학 = 55 평균점수를 구해라.

a = (80+75+55)/3
print(a)

70.0

In [2]:
a = 80
b = 75
c = 55
print((a+b+c) / 3)

70.0

# 홀수,짝수 판별하기

In [3]:
# 자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해라.
num = 13 % 2
print(num)
num2 = 12 % 2
print(num2)

1
0

In [ ]:
나머지 값이 0일 경우 짝수, 1일 경우 홀수

In [3]:
print(1%2)
print(2%2)
print(3%2)
print(4%2)

# 자연수를 2로 나누었을 떄의 나머지 값이 홀수일 때는 1, 짝수일 떄는 0을 출력함

1
0
1
0

# 주민등록번호 나누기

In [14]:
pin = "881120-1068234"
yyyymmdd = (pin[:6])
num = (pin[7:])
print(yyyymmdd)
print(num)

881120
1068234

# 주민등록번호 인덱싱

In [15]:
# 쥣자리의 맨 첫 번째 숫자 / 성별 출력
pin = "881120-1068234"
print(pin[7:8])

1

# 문자열 바꾸기

In [17]:
# a:b:c:d 문자열의 replace 사용하여 a#b#c#d#으로 출력
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

# 리스트 역순 정렬하기

In [29]:
a = [1,3,5,4,2]

In [41]:
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [4]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

# 리스트를 문자열로 만들기

In [48]:
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

# 튜플 더하기

In [49]:
a1 = (1,2,3)
b1 = (4,)
c1 = a1+b1
print(c1)

(1, 2, 3, 4)

In [5]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

# 딕셔너리의 키

In [ ]:
a = dict()
a['name'] = 'python'
a[('a',)] = 'python' # 튜플을 이용해도 가능, 튜플은 변경 불가해서
# a[[1]] = 'python' 리스트는 변경 가능한 값이기 때문에 딕셔너리에서 사용x
a[250] = 'python'
print(a)

# 딕셔너리 값 추출하기

In [9]:
a = {'A':90, 'B':80, 'C':70}
result = a.get('B')
del a['B']
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [4]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

# 리스트에서 중복 제거하기

In [2]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set([1,1,1,2,2,3,3,3,4,4,5])
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

# 파이썬 함수

In [1]:
# a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 그런 결과가 나타나는 이유를 설명해보자.
a = b = [1,2,3]
a[1] = 4
print(b)
# [1, 4, 3] 출력 / a, b 모두 동일한 리스트를 가리키고 있기 때문

[1, 4, 3]